.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.text-orange {
  color: #f9676b;
}

.text-golden {
  color: gold;
}


.Banner {
  background: linear-gradient(rgba(0, 0, 0, 0.452),
      rgba(0, 0, 0, 0.438)),
    url(./images/About.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mybtn {
  border: 3px solid white;
  background: #f9676b;
  color: white;
  padding: 6px;
  border-radius: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}